.hdr {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 99999999999;
    display: inline-flex;
    background-color: ghostwhite;
}

.crt, .txt, .sel {
    margin-top: 15px;
}

.crt, .sel {
    height: 20px;
    background-color: gainsboro;
}

.crt {
    border: 1px solid black;
    margin-left: 10px;
    width: 70px;
}

.txt {
    margin-top: 15px;
    margin-left: 100px;
}

.sel {
    width: 150px;
}
